<!DOCTYPE html>
<html>
<head>
<title>Employees</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Query results</h1>
<p>Filtered by male, birth date is 1965-02-01, and hire date is greater than 1990-01-01</p>
<iframe src="<%= @query_file %>" width="100%" class="myIframe">
</iframe>
<p><em>Hosted on <%= @servername %>.</em></p>
</body>
</html>